Investigate possible license issues

jira_cli is GPL-2.0 only

## FOSSA

afl:
- 1 GPL 3.0: [AFLplusplus/instrumentation](https://github.com/AFLplusplus/AFLplusplus/blob/stable/instrumentation/COPYING3)
- 1 AGPL: [AFLplusplus](https://github.com/AFLplusplus/AFLplusplus/blob/stable/CITATION.cff)

But the [LICENSE file](https://github.com/AFLplusplus/AFLplusplus/blob/stable/LICENSE) is Apache-2.0 and the same as reported by [crates.io](https://crates.io/crates/afl)

afl isn't present inside the report generated by license_finder. It's a very far dependency, used for fuzzing by [cpp-demangle](https://github.com/gimli-rs/cpp_demangle), dependency of dependency of dependency...

## Lichking

`cargo lichking check --all`

- cannot include package chunked_transfer, license Apache-2.0 is incompatible with GPL-2.0-only

Using licensefinder/license_finder, I see that [chunked_transfer](https://github.com/frewsxcv/rust-chunked-transfer) is the only one with Apache-2.0 only used by [ureq](https://github.com/algesten/ureq) which is double licensed: MIT or Apache-2.0

## Big question

jira_cli isn't breaking compatibility because:
- direct dependency ureq: MIT or Apache-2.0 so MIT in this case
- direct dependency comfy-table: MIT
- direct dependency itertools: MIT or Apache-2.0 so MIT in this case
- direct dependency clap: MIT or Apache-2.0 so MIT in this case
- direct dependency clap_complete: MIT or Apache-2.0 so MIT in this case

And:
- ureq needs chunked-transfer
- comfy-table, itertools, clap and clap_complete have a dependency that needs cpp-demangle, the one that needs afl

Am I breaking license compatibility in this case or not?

Using [cyclonedx-rust-cargo](https://github.com/CycloneDX/cyclonedx-rust-cargo) to generate the bom:
- afl is missing
- chunked-transfer is present
```xml
    <component type="library">
      <name>chunked_transfer</name>
      <version>1.4.0</version>
      <description><![CDATA[Encoder and decoder for HTTP chunked transfer coding (RFC 7230 § 4.1)]]></description>
      <purl>pkg:cargo/chunked_transfer@1.4.0</purl>
      <scope>required</scope>
      <licenses>
        <license>
          <expression>Apache-2.0</expression></license></licenses>
      <externalReferences>
        <reference type="vcs">
          <url>https://github.com/frewsxcv/rust-chunked-transfer</url></reference></externalReferences></component>
```

CLI used to generate the bom:
```
cargo cyclonedx -a
```

https://opensource.stackexchange.com/questions/1357/can-i-link-a-apache-2-0-library-into-software-under-gplv2

issue opened on ureq repo: 516

Migrate from `ureq` to `attohttpc` to close this issue